<h1> Cat form! </h1>
<form action="<%= cats_url %>" method="POST">
  <label for="cat_name">First name </label>
  <input name="cat[name]" id="cat_name" type="text">
  <br>

  <label for="male">Male</label>
  <input name="cat[sex]" id="male" type="radio" value="M">
  <label for="female">Female</label>
  <input name="cat[sex]" id="female" type="radio" value="F">
  <br>

  <label for="cat_color">Color</label>
  <select name="cat[color]">
    <option value="">-</option>
    <% Cat::COLOR.each do |color| %>
      <option value="<%=color%>">
        <%=color.capitalize%>
      </option>
    <%end%>
  </select>
  <br>

  <label for="cat_birth_date">Birth date</label>
  <input name="cat[birth_date]" id="cat_birth_date" type='date'>
  <br>

  <label for="cat_description">Describe your memories!</label>
  <input name="cat[description]" id="cat_description" type="textarea">
  <br>

  <input type="submit" value="Make cat!">
</form>

<%= link_to "Back", :back %>
